.app,
body {
  text-align: center;
  background: #faf6ff;
}

.footer a {
  text-decoration: none;
  color: #07a0b1;
}
.footer a:hover {
  font-weight: bold;
  color: #476e82;
}
.footer {
  color: #476e82;
  margin: 20px;
}
