.dictionary {
  margin: 30px auto;
}
.dictionary section {
  background: #daeaf2;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, 0.2);
  margin: 20px;
}
.dictionary input {
  border-radius: 5px;
  border-color: #476e82;
  color: #476e82;
  width: 50%;
  padding: 10px;
}
::placeholder {
  color: #476e82;
  font-weight: normal;
  font-size: 16px;
}

.container {
  background: #b6cfd6;
  border-radius: 10px;
  margin-top: 25px;
}

h3 {
  font-size: 30px;
}
