.Results h2,
.App-header {
  color: #476e82;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

.App-header {
  text-align: center;
  padding-top: 20px;
}

.footer {
  text-align: center;
}

.Results h2 {
  text-transform: uppercase;
}
